*.iml
.gradle
.kotlin
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

/app/build
/app/release
/app/keystore/release.keystore
/innertube/build
/kugou/build
/lastfm/build
/lrclib/build
/shazamkit/build
/paxsenix/build

.idea/
*.hprd
.claude/

release.keystore
release.env.ps1
